<!DOCTYPE html>
<!-- Here we load a different module that loads the correct dependencies -->
<html ng-app="dirs">
<head>
	<title>Angular Training</title>
    <meta charset="UTF-8">
    <script src="node_modules/angular/angular.min.js"></script>
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <h1>Angular Directives</h1>

    <p>You can currently declare four types of directives depending on the string parameter you pass to the <span class="code">restrict</span> parameter of the Directive declaration function. Please check the source code for complete details on implementation.</p>
    <ol>
        <li><strong>Element</strong>: Declared with an <span class="code">'E'</span>, and created as HTML elements.</li>
        <li><strong>Attribute</strong>: Declared with an <span class="code">'A'</span>, added as an attribute to an existing HTML element.</li>
        <li><strong>Class</strong>: Declared with an <span class="code">'C'</span>, added with a class name to the element.</li>
        <li><strong>Comment</strong>: Declared with an <span class="code">'M'</span>, added with an HTML comment.</li>
    </ol>

    <p>Here you can see an example of each of these directives:</p>
    
    <elem-directive></elem-directive>

    <div attr-directive></div>

    <div class="class-directive"></div>

    <!-- directive: comment-directive -->

    <!-- You can create Angular templates using the following syntax. You can then refer to these kind of templates using the value of the id attribute. Check the directives.js file for implementation. -->
    <script type="text/ng-template" id="attr-directive.html">
        <p>I am an attribute.</p>
    </script>

    <h2>Custom Controls</h2>

    <p>You can create custom HTML controls using the directive's <span class="code">link</span> option (or directive's link function) along with other directive options such as templates. Please refer to the source code for more details.</p>

    <p>Here, we are creating a custom control "counter", which consists of two buttons to change the counter value, and the value itself. Additionally, you can add an <span class="code">increment</span> attribute to set how much the counter changes upon each button click.</p>

    <counter2 id="theCounter" ng-model="myCounter"></counter2>

    <h3>ngModelController</h3>

    <p>In order to complete our custom controller and make it work with forms, we need to take advantage of the ngModelController and its methods. The most important one is to use <span class="code">$setViewValue</span> to establish both the <span class="code">$viewValue</span> and the <span class="code">$modelValue</span> of our model.</p>

    <h4>Parsers</h4>
    <p>The <span class="code">$parsers</span> property is an array of functions that run in a specific order, and which can modify the value of the model before it is set in the <span class="code">$modelValue</span>. In this manner you can effectively separate the view from the model, showing a specific format in the view while saving another format in the background. In the example below we are saving the model as an entire object with added parameters, instead of just the counter value seen in the view.</p>

    <h4>Validators</h4>
    <p>You can add custom validation to your model via the <span class="code">$validators</span> property. Similar to <span class="code">$parsers</span>, it is an array of functions that checks that the value passed from the DOM meets certain conditions. In the example below, we have added a validator that makes our counter control invalid when the value is zero (0). <small><em>Check the source code on how to add your own Parsers and Validators.</em></small></p>


    <form name="myForm" action="">
        <label for="uno" style="display:block">myModel: {{ myModel }}</label>
        <counter id="uno" name="myCounter" increment="5" ng-model="myModel" required></counter>

        <button type="submit" ng-disabled="myForm.$invalid">Submit</button>

        <div ng-if="showDebug">
            <pre>{{ myForm | json }}</pre>
        </div>
        <button type="button" ng-click="(showDebug = !showDebug)">Show/Hide Form Debug</button>
    </form>

    <p>Parsers and Validators are just two of many properties and methods available. For more info on ngModelController and its properties, check the <a href="https://docs.angularjs.org/api/ng/type/ngModel.NgModelController">ngModelController documentation page</a>.</p>

    <script src="assets/js/app.js"></script>
</body>
</html>