body {
    font-family: Helvetica, Arial, sans-serif;
}

h2 {
    border-bottom: solid 1px #ccc;
}

pre {
    background: #ddd;
    color: #333;
    border: solid 1px #bbb;
    border-radius: 3px;
    width: auto;
    display: block;
    padding: 0.5em;
    margin-bottom: 1em;

    &.inline {
        display: inline-block;
        padding: 0.1em;
        margin: 0;
    }
}

.code {
    @extend pre;

    font-family: monospace;
    display: inline-block;
    padding: 0.1em;
    margin: 0;
}

li {
    margin-bottom: 0.5em;
    line-height: 1.3;
}

.error {
    color: red;
    margin-bottom: 1em;
}

input {
    margin-bottom: 1em;
    
    // You can use the classes added through Angular validators to add your own styles
    &.ng-touched {
        color: blue;

        &.ng-invalid {
            border: solid 1px red;
        }
    }
}

button {
    display: block;
    margin-bottom: 1em;
    width: auto;
}
