body {
    font-family: Helvetica, Arial, sans-serif;
}

pre {
    background: #ddd;
    color: #333;
    border: solid 1px #bbb;
    border-radius: 3px;
    width: auto;
    display: block;
    padding: 0.5em;
}